* {
  box-sizing: border-box;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
display: none;
}

:root {
  @apply font-sans;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

@layer base {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
